@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); 

html,
body {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(225,225,232,1) 35%, rgba(225,225,232,1) 100%);
}

.wrapper {
    min-height: 100vh;
}

.container {
    height: 100%;
}

.navbar {
    -webkit-box-shadow: 0px 7px 7px 0px #B0ACA5; 
    box-shadow: 0px 7px 7px 0px #B0ACA5;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    }

.nav .nav-item {
    padding-right: 15px;
}

.card {
    -webkit-box-shadow: 0px 6px 16px -2px #C4C4C4; 
box-shadow: 0px 6px 16px -2px #C4C4C4;
}